.main {
  padding: 40px 36px;
  .noList {
    display: block;
    margin: 132px auto 0 auto;
    width: 400px;
    height: 400px;
  }
  .noListText {
    margin-top: 18px;
    text-align: center;
    height: 40px;
    font-size: 28px;
    color: #B1B1B1;
    line-height: 40px;
  }
  .endList {
  }
}
